# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
bin/application.xml
bin/Main.swf

# Other files and folders
.settings/
scripts
src/net/blaxstar/log4air/policies
src/net/blaxstar/log4air/interfaces/IPolicy.as

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.